/*
:root {



}

:root[data-theme="dark"] {

}
*/
:root,
body {
  transition: background-color 1s ease, color 1s ease, border-color 1s ease;
}

/*--- Body --- */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: Trebuchet MS, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #fdf9c7;
  color: #2f2f1f;
  font-size: 1.2rem;
}

/*=============================*/
/*=== Ganz großer Container ===*/
/*=============================*/
.sectionContainer {
  width: 60vw;
  border: 1px solid #000000;
  border-radius: 8px;
  margin: 5px;
  background-color: #fff9c4;
  overflow: hidden;
}

/*=======================================*/
/*=== Überschrift in großem Container ===*/
/*=======================================*/
.sectionHeader {
  text-align: center;
  padding: 10px;
}

/*=======================================================*/
/*=== Container um Tabellenkopf Container und Tabelle ===*/
/*=======================================================*/
.annualTableContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/*
.annualTablesWrapper{}
*/


/*====================*/
/*=== Tabellenkopf ===*/
/*====================*/
.annualTableHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f2e59c;
  border-top: 1px solid black;
}

.tableHeaderInput{
  text-align: center;
  font-size: 2rem;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

/*=====================*/
/*=== Table Element ===*/
/*=====================*/
table {
  border-collapse: collapse;
  margin: 10px auto;
}

table,th,td {
  border: 1px solid #838a2669;
  text-align: center;
}

th {
  width: auto;
  max-width: 200px;
  background-color: #ffef64;
}

table tr:nth-child(even) {
  background-color: #fff6a5;
}

table tr:nth-child(odd) {
  background-color: #fffacf;
}

/*=====================*/
/*=== Input Element ===*/
/*=====================*/
input{
  width: 99%;
  height: 99%;
  background-color: #00000000;
  border: 1px solid #838a2600;
}

/*===============================*/
/*=== Section Selection Icons ===*/
/*===============================*/
.sectionSelectionIcon {
  width: 75px;
  height: 75px;
  scale: 1.2;
  margin-bottom: 8px;
  transition: background-color 0.3s ease;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

#sectionSelection a {
  border-radius: 8px;
  border: 1px solid #000000;
  padding: 20px;
  margin: 5px;
  text-decoration: none;
}

.indexSelection,
.waterSelection,
.heatingSelection {
  display: inline-block;
  padding: 15px 25px;
  text-align: center;
  border-radius: 8px;
  transition: all 0.3s ease;
  background-color: #fdf9c7;
}

.indexSelection .sectionSelectionIcon {
  background-color: #27ae60;
}
.waterSelection .sectionSelectionIcon {
  background-color: #3a8dde;
}
.heatingSelection .sectionSelectionIcon {
  background-color: #e55c3c;
}

.indexSelection:hover {
  background-color: #27ae60;
}
.indexSelection:hover .sectionSelectionIcon {
  background-color: #fdf9c7;
}

.waterSelection:hover {
  background-color: #3a8dde;
}
.waterSelection:hover .sectionSelectionIcon {
  background-color: #fdf9c7;
}

.heatingSelection:hover {
  background-color: #e55c3c;
}
.heatingSelection:hover .sectionSelectionIcon {
  background-color: #fdf9c7;
}

.sectionSelectionIcon {
  scale: 1.2;
  width: 75px;
}

#indexTab {
  mask-image: url("../assets/gear-solid-full.svg");
  -webkit-mask-image: url("../assets/gear-solid-full.svg");
}

#waterTab {
  mask-image: url("../assets/droplet-solid-full.svg");
  -webkit-mask-image: url("../assets/droplet-solid-full.svg");
}

#heatingTab {
  mask-image: url("../assets/fire-solid-full.svg");
  -webkit-mask-image: url("../assets/fire-solid-full.svg");
}

/*=============*/
/*=== ICONS ===*/
/*=============*/

.tableCollapseIcon {
  width: 70px;
  height: auto;
}

.tableSettingsIcon {
  width: 50px;
  height: auto;
}

.addTableIcon {
  display: block;
  width: 50px;
  height: auto;
  margin: 0 auto 10px;
  border: 1px solid #2f4f4f;
  border-radius: 50%;
  padding: 5px;
  fill: white;
  transition: fill 0.2s;
  transition: transform 0.2s;
  background-color: #f2e59c;
}

.addTableIcon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.tableCollapseIcon {
    transition: transform 0.3s ease;
}

.tableCollapseIcon:hover{
    cursor: pointer;
  transform: scale(1.1);
}

.tableCollapseIcon.rotated {
    transform: rotate(-90deg);
}