/*
:root {



}

:root[data-theme="dark"] {

}
*/
:root,
body {
  transition: background-color 1s ease, color 1s ease, border-color 1s ease;
}

/*--- Body --- */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: Trebuchet MS, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #fdf9c7;
  color: #2f2f1f;
  font-size: 1.2rem;
  overflow-y: scroll;
}

/*=============================*/
/*=== Ganz großer Container ===*/
/*=============================*/
.sectionContainer {
  width: 60vw;
  border: 1px solid #000000;
  border-radius: 8px;
  margin: 5px;
  background-color: #fff9c4;
  overflow: hidden;
}

/*=======================================*/
/*=== Überschrift in großem Container ===*/
/*=======================================*/
.sectionHeader {
  text-align: center;
  padding: 10px;
}

/*===============================*/
/*=== Section Selection Icons ===*/
/*===============================*/
.sectionSelectionIcon {
  width: 75px;
  height: 75px;
  scale: 1.2;
  margin-bottom: 8px;
  transition: background-color 0.3s ease;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

#sectionSelection a {
  border-radius: 8px;
  border: 1px solid #000000;
  padding: 20px;
  margin: 5px;
  text-decoration: none;
}

.indexSelection,
.waterSelection,
.heatingSelection {
  display: inline-block;
  padding: 15px 25px;
  text-align: center;
  border-radius: 8px;
  transition: all 0.3s ease;
  background-color: #fdf9c7;
}

.indexSelection .sectionSelectionIcon {
  background-color: #27ae60;
}
.waterSelection .sectionSelectionIcon {
  background-color: #3a8dde;
}
.heatingSelection .sectionSelectionIcon {
  background-color: #e55c3c;
}

.indexSelection:hover {
  background-color: #27ae60;
}
.indexSelection:hover .sectionSelectionIcon {
  background-color: #fdf9c7;
}

.waterSelection:hover {
  background-color: #3a8dde;
}
.waterSelection:hover .sectionSelectionIcon {
  background-color: #fdf9c7;
}

.heatingSelection:hover {
  background-color: #e55c3c;
}
.heatingSelection:hover .sectionSelectionIcon {
  background-color: #fdf9c7;
}

.sectionSelectionIcon {
  scale: 1.2;
  width: 75px;
}

#indexTab {
  mask-image: url("../assets/gear-solid-full.svg");
  -webkit-mask-image: url("../assets/gear-solid-full.svg");
}

#waterTab {
  mask-image: url("../assets/droplet-solid-full.svg");
  -webkit-mask-image: url("../assets/droplet-solid-full.svg");
}

#heatingTab {
  mask-image: url("../assets/fire-solid-full.svg");
  -webkit-mask-image: url("../assets/fire-solid-full.svg");
}

/*=============*/
/*=== ICONS ===*/
/*=============*/